In [10]:
# !kaggle competitions download -c tabular-playground-series-aug-2022

In [11]:
import pandas as pd

train = pd.read_csv('../input/tabular-playground-series-aug-2022/train.csv')
test = pd.read_csv('../input/tabular-playground-series-aug-2022/test.csv')
target = train['failure']
train.drop('failure',axis=1, inplace = True)
train.shape,test.shape

((26570, 25), (20775, 25))

In [27]:
col_train = train.columns.tolist()
col_train

['id',
 'product_code',
 'loading',
 'attribute_0',
 'attribute_1',
 'attribute_2',
 'attribute_3',
 'measurement_0',
 'measurement_1',
 'measurement_2',
 'measurement_3',
 'measurement_4',
 'measurement_5',
 'measurement_6',
 'measurement_7',
 'measurement_8',
 'measurement_9',
 'measurement_10',
 'measurement_11',
 'measurement_12',
 'measurement_13',
 'measurement_14',
 'measurement_15',
 'measurement_16',
 'measurement_17']

In [23]:
train[col_train]

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,20.155,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,17.889,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,18.288,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,19.060,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,18.093,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26565,26565,E,158.95,material_7,material_6,6,9,6,16,4,...,19.354,NaN,12.177,17.942,10.112,15.795,18.572,16.144,NaN,729.131
26566,26566,E,146.02,material_7,material_6,6,9,10,12,8,...,19.563,11.242,14.179,20.564,10.234,14.450,14.322,13.146,16.471,853.924
26567,26567,E,115.62,material_7,material_6,6,9,1,10,1,...,19.279,11.407,16.437,17.476,8.668,15.069,16.599,15.590,14.065,750.364
26568,26568,E,106.38,material_7,material_6,6,9,2,9,4,...,19.358,11.392,17.064,17.814,14.928,16.273,15.485,13.624,12.865,730.156
26569,26569,E,131.20,material_7,material_6,6,9,6,19,1,...,18.731,10.611,15.603,19.703,11.006,15.875,13.366,16.527,17.890,602.354

In [28]:
col_object = train.select_dtypes('object').columns.tolist()
col_int = train.select_dtypes('int').columns.tolist()
col_float = train.select_dtypes('float').columns.tolist()

In [30]:
col_numerical = col_int + col_float

In [33]:
col_float = [col for col in col_numerical if col not in col_int]